:root {   /* Colors */
  --primary-color: #06f;
  --secondary-color: #f00;
  --background-color: #FFCC01;
  --base-font-color: #000;

  /* other repetitive values  */
  --font-weight: 300;
  --body-font-family: 'Open Sans', sans-serif;
  --font-size: 16px;
}

body {
  background-color: var(--background-color);
  font-family: var(--body-font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 1.6;   /* Sets the line-height to 1.6 */
  padding: 5px;
  margin-left: 25px;
  margin-right: 25px;

  /*
  Colors used
  Text Color (Black): #000;
  Primary Color (Blue): #0066ff;
  Secondary Color (Red): #ff0000;
   */
}



.page-header__item {
  flex: 0 1 10px;
  height: 200px;
  width: 350px;
  margin: auto;
  display: block;
}

/* @media all and (min-width: 350px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 350px) and (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 1000px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  } */

  h2 {
    font-size: 16px;
  }
}




